Q1. List any five functions of the pandas library with execution.

In [1]:
# head()

import pandas as pd

data = {'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Edward'],
        'Age': [24, 27, 22, 32, 29]}
df = pd.DataFrame(data)

# Displaying the first 3 rows
print(df.head(3))

      Name  Age
0    Alice   24
1      Bob   27
2  Charlie   22

In [2]:
# describe()

data = {'Age': [24, 27, 22, 32, 29]}
df = pd.DataFrame(data)

# Displaying summary statistics of numeric columns
print(df.describe())

             Age
count   5.000000
mean   26.800000
std     3.962323
min    22.000000
25%    24.000000
50%    27.000000
75%    29.000000
max    32.000000

In [3]:
# groupby

data = {'Category': ['A', 'B', 'A', 'B', 'A'],
        'Value': [10, 20, 30, 40, 50]}
df = pd.DataFrame(data)

# Grouping by 'Category' and calculating the sum of 'Value'
grouped = df.groupby('Category')['Value'].sum()
print(grouped)

Category
A    90
B    60
Name: Value, dtype: int64

In [4]:
# sort_values()

data = {'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Edward'],
        'Age': [24, 27, 22, 32, 29]}
df = pd.DataFrame(data)

# Sorting by 'Age' in descending order
sorted_df = df.sort_values(by='Age', ascending=False)
print(sorted_df)

      Name  Age
3    David   32
4   Edward   29
1      Bob   27
0    Alice   24
2  Charlie   22

In [5]:
# fillna()

data = {'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Edward'],
        'Age': [24, None, 22, 32, None]}
df = pd.DataFrame(data)

# Filling NaN values in the 'Age' column with the mean age
df['Age'] = df['Age'].fillna(df['Age'].mean())
print(df)

      Name   Age
0    Alice  24.0
1      Bob  26.0
2  Charlie  22.0
3    David  32.0
4   Edward  26.0

Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [6]:
import pandas as pd

def reindex_dataframe(df):
    # Creating a new index starting from 1 and incrementing by 2
    new_index = pd.Index(range(1, len(df)*2+1, 2))

    # Assigning the new index to the DataFrame
    df.index = new_index

    return df

# Example usage:
data = {'A': [10, 20, 30, 40],
        'B': [5, 15, 25, 35],
        'C': [100, 200, 300, 400]}
df = pd.DataFrame(data)

# Reindex the DataFrame
df = reindex_dataframe(df)
print(df)

    A   B    C
1  10   5  100
3  20  15  200
5  30  25  300
7  40  35  400

Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The
function should print the sum to the console.
For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should
calculate and print the sum of the first three values, which is 60.

In [7]:
import pandas as pd

def sum_first_three_values(df):
    # Accessing the first three values in the 'Values' column and calculating the sum
    sum_values = df['Values'].head(3).sum()

    # Printing the sum
    print(f"The sum of the first three values is: {sum_values}")

# Example usage:
data = {'Values': [10, 20, 30, 40, 50]}
df = pd.DataFrame(data)

# Calling the function
sum_first_three_values(df)

The sum of the first three values is: 60

Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
'Word_Count' that contains the number of words in each row of the 'Text' column.

In [8]:
import pandas as pd

def add_word_count_column(df):
    # Create a new column 'Word_Count' by applying a lambda function to count words
    df['Word_Count'] = df['Text'].apply(lambda x: len(str(x).split()))

    return df

# Example usage:
data = {'Text': ['This is a sentence', 'Another example text', 'Pandas is awesome', '']}
df = pd.DataFrame(data)

# Calling the function
df = add_word_count_column(df)
print(df)

                   Text  Word_Count
0    This is a sentence           4
1  Another example text           3
2     Pandas is awesome           3
3                                 0

Q5. How are DataFrame.size() and DataFrame.shape() different?

DataFrame.size:

Purpose: Returns the total number of elements in the DataFrame.

Description: This is the product of the number of rows and the number of columns. It counts all values in the DataFrame, regardless of the number of rows or columns.

Type: Integer


DataFrame.shape:

Purpose: Returns a tuple representing the dimensions of the DataFrame

Description: It gives the number of rows and columns in the form of a tuple

Type: Tuple of two integers.

Q6. Which function of pandas do we use to read an excel file?

In [ ]:
import pandas as pd

# Read an Excel file into a DataFrame
df = pd.read_excel('example.xlsx', sheet_name='Sheet1')

# Display the DataFrame
print(df)

Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email
addresses in the format 'username@domain.com'. Write a Python function that creates a new column
'Username' in df that contains only the username part of each email address.
The username is the part of the email address that appears before the '@' symbol. For example, if the
email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your
function should extract the username from each email address and store it in the new 'Username'
column.

In [9]:
import pandas as pd

def extract_username(df):
    # Creating a new 'Username' column by splitting the 'Email' column at '@' and selecting the first part
    df['Username'] = df['Email'].str.split('@').str[0]

    return df

# Example usage:
data = {'Email': ['john.doe@example.com', 'jane.smith@domain.com', 'user123@website.org']}
df = pd.DataFrame(data)

# Calling the function
df = extract_username(df)
print(df)

                   Email    Username
0   john.doe@example.com    john.doe
1  jane.smith@domain.com  jane.smith
2    user123@website.org     user123

Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
function should return a new DataFrame that contains only the selected rows.
For example, if df contains the following values:

A B C
0 3 5 1
1 8 2 7
2 6 9 4
3 2 3 5
4 9 1 2

Your function should select the following rows: A B C
1 8 2 7
4 9 1 2
The function should return a new DataFrame that contains only the selected rows.

In [10]:
import pandas as pd

def filter_rows(df):
    # Applying the conditions: A > 5 and B < 10
    filtered_df = df[(df['A'] > 5) & (df['B'] < 10)]

    return filtered_df

# Example usage:
data = {'A': [3, 8, 6, 2, 9],
        'B': [5, 2, 9, 3, 1],
        'C': [1, 7, 4, 5, 2]}
df = pd.DataFrame(data)

# Calling the function
result_df = filter_rows(df)
print(result_df)

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean,
median, and standard deviation of the values in the 'Values' column.

In [11]:
import pandas as pd

def calculate_statistics(df):
    # Calculating the mean, median, and standard deviation of the 'Values' column
    mean_value = df['Values'].mean()
    median_value = df['Values'].median()
    std_value = df['Values'].std()

    # Printing the results
    print(f"Mean: {mean_value}")
    print(f"Median: {median_value}")
    print(f"Standard Deviation: {std_value}")

# Example usage:
data = {'Values': [10, 20, 30, 40, 50]}
df = pd.DataFrame(data)

# Calling the function
calculate_statistics(df)

Mean: 30.0
Median: 30.0
Standard Deviation: 15.811388300841896

Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to
create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days
for each row in the DataFrame. The moving average should be calculated using a window of size 7 and
should include the current day.

In [12]:
import pandas as pd

def calculate_moving_average(df):
    # Ensure the 'Date' column is in datetime format (if it's not already)
    df['Date'] = pd.to_datetime(df['Date'])

    # Sort the DataFrame by Date to ensure the rolling window works properly
    df = df.sort_values(by='Date')

    # Calculate the 7-day moving average of the 'Sales' column, including the current day
    df['MovingAverage'] = df['Sales'].rolling(window=7, min_periods=1).mean()

    return df

# Example usage:
data = {
    'Date': ['2024-12-20', '2024-12-21', '2024-12-22', '2024-12-23', '2024-12-24', '2024-12-25', '2024-12-26', '2024-12-27'],
    'Sales': [100, 150, 200, 250, 300, 350, 400, 450]
}
df = pd.DataFrame(data)

# Calling the function
df = calculate_moving_average(df)
print(df)

        Date  Sales  MovingAverage
0 2024-12-20    100          100.0
1 2024-12-21    150          125.0
2 2024-12-22    200          150.0
3 2024-12-23    250          175.0
4 2024-12-24    300          200.0
5 2024-12-25    350          225.0
6 2024-12-26    400          250.0
7 2024-12-27    450          300.0

Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new
column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.
Monday, Tuesday) corresponding to each date in the 'Date' column.
For example, if df contains the following values:
Date
0 2023-01-01
1 2023-01-02
2 2023-01-03
3 2023-01-04
4 2023-01-05
Your function should create the following DataFrame:

Date Weekday
0 2023-01-01 Sunday
1 2023-01-02 Monday
2 2023-01-03 Tuesday
3 2023-01-04 Wednesday
4 2023-01-05 Thursday
The function should return the modified DataFrame.

In [13]:
import pandas as pd

def add_weekday_column(df):
    # Ensure the 'Date' column is in datetime format
    df['Date'] = pd.to_datetime(df['Date'])

    # Create a new column 'Weekday' containing the weekday name
    df['Weekday'] = df['Date'].dt.day_name()

    return df

# Example usage:
data = {'Date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05']}
df = pd.DataFrame(data)

# Calling the function
df = add_weekday_column(df)
print(df)

        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python
function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [14]:
import pandas as pd

def filter_date_range(df):
    # Ensure the 'Date' column is in datetime format
    df['Date'] = pd.to_datetime(df['Date'])

    # Define the start and end dates for filtering
    start_date = '2023-01-01'
    end_date = '2023-01-31'

    # Filter the DataFrame to select rows where 'Date' is within the specified range
    filtered_df = df[(df['Date'] >= start_date) & (df['Date'] <= end_date)]

    return filtered_df

# Example usage:
data = {'Date': ['2023-01-01', '2023-01-05', '2023-01-15', '2023-02-01', '2023-01-30']}
df = pd.DataFrame(data)

# Calling the function
filtered_df = filter_date_range(df)
print(filtered_df)

        Date
0 2023-01-01
1 2023-01-05
2 2023-01-15
4 2023-01-30

Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to
be imported?

In [15]:
import pandas as pd

# Example DataFrame
data = {'A': [1, 2, 3], 'B': [4, 5, 6]}
df = pd.DataFrame(data)

print(df)

   A  B
0  1  4
1  2  5
2  3  6